    </div>

    <div class="push">
    </div>
  </main>
    <footer>
    Created by Keyoni McNair, Tyler Johnson-Haro, Sophia Lopez, Chloe Mendez. Semester of Spring 2021.
    </footer>
    <script type="text/javascript" src="/js/scripts.js"></script>
  </body>
</html>