
<div class="sortBlock"> <h1>Sort movies by: </h1> 
<form action= '/home/sort'> 
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="movieSort" id="titleRadio" value="title">
          <label class="form-check-label" for="inlineRadio1">Title</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="movieSort" id="ratingRadio" value="siteRating">
          <label class="form-check-label" for="inlineRadio1">Rating (Dec)</label>
        </div> 

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="movieSort" id="genreRadio" value="genre">
          <label class="form-check-label" for="inlineRadio1">Genre</label>
        </div>

        <button class="btn btn-secondary" type="submit" id="sortBtn">Sort</button> 
</form>
</div>


</div>
