<%-include('partials/header.ejs') %>
<body>
<center>
  <div>
  <h1> Welcome to Trash Movies.com </h1>
    <img id="loginLogo" src="/img/trash.jpg" alt="movieLogo">
    <h2> Where you rate and review TRASH movies recommeded by YOU! </h2> 
    <h3>Log In to Your Account or Register an Account</h3>
  </div>
<div class="bg-image"></div>
<div class="loginPage">
  <div class="login">
    <form method="POST" action="auth">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="usernameLogin" name="username" placeholder="0">
        <label for="usernameLogin">Username</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="passwordLogin" name="password" placeholder="0">
        <label for="passwordLogin">Password</label>
      </div> <br>

      <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
    </form>
  </div>
  <br>

  <% if (typeof message != "undefined") { %>
    <strong><em> <%=message%> </strong></em>
  <% } %>
  <br><br>

  <div class="login">
    <form method="POST" action="/">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstNameRegister" name="firstName" placeholder="0">
        <label for="firstNameRegister">First Name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="usernameRegister" name="username" placeholder="0">
        <label for="usernameRegister">Username</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="passwordRegister" name="password" placeholder="0">
        <label for="passwordRegister">Password</label>
      </div>
      <br>
      
      <button type="submit" class="btn btn-primary" id="registerBtn" >Register</button>
    </form>
  </div>
  </div>
  <br>
  </center>
  <%-include('partials/footer.ejs') %>